@font-face {
  font-family: "Billabong";
  src: url("../../assets//fonts/Billabong-font.ttf");
}

.logo {
  display: flex;
  flex-flow: row-reverse;
  cursor: pointer;

  .instagram-name {
    font-family: "Billabong";
    font-weight: 500;
    letter-spacing: 0.8px;

    @media (max-width: 540px) {
      display: none;
    }
  }
  .instagram-logo {
    height: 25px;
    margin: 5px 10px;
  }
}
